.wrapper {
  background-color: rgba(39, 35, 35, 0.568);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.content {
  background-color: white;
  padding: 20px;
  margin: 30px;
}
.closebutton {
  cursor: pointer;
}
